.form {
    margin: auto;
    padding: 10px;
    text-align: center;
}
.form__header {
    font-size: 40px;
    font-weight: 700;
    color: #4c74ee;
    border-radius: 15px;
    border: none;
    padding: 5px;
}

.form__field {
    border: 2px solid #daad86;
    border-radius: 5px;
    padding: 5px;
}

.form__labelText {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.5;
    display: block;
}

.form__button{
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    color: #fff;
    background-color: #4c74ee;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.form__info {
    font-size: 12px;
    color: #333;
}